$dark-nav-color: #2C3840;

/* Paleta colores CSS */
    $color-main: rgb(24, 42, 70); //#182a46;
    $color-main-alt: rgba(128, 170, 236, .5);
    $color-secondary: #f2907b;
    $color-gray: #bdbdbd;
    $color-gray-darker: #53575a;
    $color-gray-light: #E0E1E1;
    $color-border: #DFE0BF;
    $color-border-alt: #cbd7e3;
    $color-border-enfasis: #f2907b;
    $color-background-alternate: #f2907b;
    $color-border-alternate: #979797;
    $color-hover-button: #f2907b;
    $color-body-bg: #FFFFFF;
    $color-section-bg-first: #dae4ee;
    $color-bg-txt-alt: #cbd7e3; //#dae4ee
    $color-header-bg: #f3e6d3;





